<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre
    </title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="">
        <p>Lugar para poner la barra de busqueda</p>
        <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
        <nav>
            <ul>
                <a href="#"><li>Ofertas</li></a>
                <a href="#"><li>Tiendas Oficiales</li></a>
                <a href="#"><li>Vender</li></a>
                <a href="#"><li>Ayuda</li></a>
                <br>
                <a href="#"><li>Creá tu cuenta</li></a>
                <a href="#"><li>Ingresá</li></a>
                <a href="#"><li>Mis compras</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <!-- inicio primera seccion -->
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="" width="100%">
                <p>$6.670</p>
                <p>40$ OFF</p>
                <p>Cafetera moulinex</p>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="" width="100%">
                <p>$230.000</p>
                <p>20$ OFF</p>
                <p>Macbook pro 2019</p>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="" width="100%">
                <p>$70.500</p>
                <p>10$ OFF</p>
                <p>Samsung galaxy s10</p>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="" width="100%">
                <p>$23.200</p>
                <p>5$ OFF</p>
                <p>Smart tv Samsung 43"</p>
            </article>
        </section>
        <!-- FIN PRIMERA SECCION -->
        <!-- INICIO SEGUNDA SECCION -->
        <section>
            <h3>Ofertas</h3>
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="" width="100%">
                <p>$6.670</p>
                <p>40$ OFF</p>
                <p>Cafetera moulinex</p>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="" width="100%">
                <p>$230.000</p>
                <p>20$ OFF</p>
                <p>Macbook pro 2019</p>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="" width="100%">
                <p>$70.500</p>
                <p>10$ OFF</p>
                <p>Samsung galaxy s10</p>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="" width="100%">
                <p>$23.200</p>
                <p>5$ OFF</p>
                <p>Smart tv Samsung 43"</p>
            </article>
        </section>
        <!-- FIN DE LA SEGUNDA SECCION -->
        </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con mercado libre cash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envio gratis desde $2500</h3>
            <p>Solo por estar registrad@ en mercado liebre tenes envios gratis en miles de productos. Es un beneficio de mercado puntos</p>
        </section>
        <section>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En mercado liebre, no hay nada que no puedas hacer, porque estas siempre protegid@</p>
        </section>
        <section>
            <h3>Copyright c 1999-2000 MercadoLiebre S.R.L</h3>
        </section>
    </footer>
</body>
</html>